{
    "presets": [
      ["@babel/preset-env", {
        "useBuiltIns": "usage"
      }],
      "@babel/typescript",
      "@babel/preset-react"
    ],
    "plugins": [
      "@babel/plugin-proposal-class-properties"
    ]
}