.navbar,
.navbar-default {
    background-image: linear-gradient(to bottom,#89216B 0,#89216B 100%) !important; /* override background image gradient w/ flat color */
}
.navbar {
    padding: .5rem 10rem !important;
    height: 10%;
}